.text-center {
    text-align: center !important;
  }
  
  .py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .badge {
    background-color: #E3F8F9;
    color: #45D2D4;
    border-radius: 100px;
    padding: 8px 20px;
    text-transform: uppercase;
  }
  .heading-3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 800;
  }