<div class="row">
    <div class="col-md-6" *ngFor="let card of card_testimonial">
    <div class="testimonial-card-inner p-3 mb-4">
        <div>
            <img [src]="'http://localhost:1337' + card.attributes.image_testimonial.data.attributes.url" alt="">
            <img [src]="'http://localhost:1337' + card.attributes.image_work.data.attributes.url" alt="">
        </div>
        <div class="testimonial-content">
            <p class="testimonial-description">{{ card.attributes.description }}</p>
            <h4 class="h5">{{ card.attributes.name }}</h4>
            <p class="text-muted">{{ card.attributes.name_work }}</p>
        </div>
    </div>
</div>
</div>

